<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chatbot</title>
    <link rel="stylesheet" href='/static/style.css'/>
</head>
<body>
<h1>Chatbot <a href="/settings" class="settingLink"><img src="/static/settings-icon.png" alt="Settings" class="settings"></a></h1>

<!-- Chat history -->
<div class="chatbox">
    {% for item in chat_history %}
        {% if item['speaker'] == 'User' %}
            <div class="message user">
                <p>{{ item['text'] }}</p>
                <span class="time">{{ item['time'] }}</span>
            </div>
        {% else %}
            <div class="message chatbot">
                <p>{{ item['text'] }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- User input form -->
<form method="POST" action="/">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message" required>
    <input type="submit" value="Send">
</form>

</body>
</html>
